[submodule "hadoop"]
	path = hadoop
	url = git://github.com/ruo91/docker-hadoop.git
[submodule "elasticsearch"]
	path = elasticsearch
	url = git://github.com/ruo91/docker-elasticsearch.git
[submodule "facebook-mcrouter"]
	path = facebook-mcrouter
	url = git://github.com/ruo91/docker-facebook-mcrouter.git
[submodule "facebook-scribe"]
	path = facebook-scribe
	url = git://github.com/ruo91/docker-facebook-scribe.git
[submodule "openresty"]
	path = openresty
	url = git://github.com/ruo91/docker-openresty.git
[submodule "jenkins"]
	path = jenkins
	url = git://github.com/ruo91/docker-jenkins.git
[submodule "facebook-hhvm"]
	path = facebook-hhvm
	url = git://github.com/ruo91/docker-facebook-hhvm.git
[submodule "mariadb"]
	path = mariadb
	url = git://github.com/ruo91/docker-mariadb.git
[submodule "php-fpm"]
	path = php-fpm
	url = git://github.com/ruo91/docker-php-fpm.git
[submodule "crate"]
	path = crate
	url = https://github.com/ruo91/docker-crate
[submodule "redis"]
	path = redis
	url = https://github.com/ruo91/docker-redis
[submodule "twemproxy"]
	path = twemproxy
	url = https://github.com/ruo91/docker-twemproxy
[submodule "opsview"]
	path = opsview
	url = https://github.com/ruo91/docker-opsview.git
[submodule "spacewalk"]
	path = spacewalk
	url = https://github.com/ruo91/docker-spacewalk
[submodule "log.io"]
	path = log.io
	url = https://github.com/ruo91/docker-log.io
[submodule "arcus"]
	path = arcus
	url = https://github.com/ruo91/docker-arcus
[submodule "heka"]
	path = heka
	url = https://github.com/ruo91/docker-heka
[submodule "vsftpd"]
	path = vsftpd
	url = https://github.com/ruo91/docker-vsftpd
[submodule "ngrinder"]
	path = ngrinder
	url = https://github.com/ruo91/docker-ngrinder
[submodule "kubernetes"]
	path = kubernetes
	url = https://github.com/ruo91/docker-kubernetes.git
[submodule "kubernetes-mesos"]
	path = kubernetes-mesos
	url = https://github.com/ruo91/docker-kubernetes-mesos.git
[submodule "h2o"]
	path = h2o
	url = https://github.com/ruo91/docker-h2o.git
[submodule "kafka"]
	path = kafka
	url = https://github.com/ruo91/docker-kafka.git
[submodule "codis"]
	path = codis
	url = https://github.com/ruo91/docker-codis.git
[submodule "nginx"]
	path = nginx
	url = https://github.com/ruo91/docker-nginx.git
[submodule "dind"]
	path = dind
	url = https://github.com/ruo91/dind.git
[submodule "haproxy"]
	path = haproxy
	url = https://github.com/ruo91/docker-haproxy
[submodule "google-drive"]
	path = google-drive
	url = https://github.com/ruo91/docker-google-drive.git
[submodule "mesos"]
	path = mesos
	url = https://github.com/ruo91/docker-mesos.git
[submodule "nagiosxi"]
	path = nagiosxi
	url = https://github.com/ruo91/docker-nagiosxi.git
[submodule "nagios-agent"]
	path = nagios-agent
	url = https://github.com/ruo91/docker-nagios-agent.git
